/lab02-pushbutton/nbproject/private/
/lab02-pushbutton/dist/
/lab02-pushbutton/build/
/lab03-buttonevent/nbproject/private/
/lab03-buttonevent/build/
/lab03-buttonevent/dist/
/lab04-pcf8591bb-test/nbproject/private/
/lab04-pcf8591bb-test/dist/
/lab04-pcf8591bb-test/build/
/lab05-MCP3208-input/nbproject/private/
/lab05-MCP3208-input/build/
/lab05-MCP3208-input/dist/
/lab05-MCP3208-async-polling/nbproject/private/
/lab05-MCP3208-async-polling/build/
/lab05-MCP3208-async-polling/dist/
/lab05-MCP3208-test/nbproject/private/
/lab05-MCP3208-test/build/
/lab05-MCP3208-test/dist/
/lab06-UARTComm-test/nbproject/private/
/lab06-UARTComm-test/build/
/lab06-UARTComm-test/dist/
/lab07-IoTCliApp/nbproject/private/
/lab07-IoTCliApp/build/
/lab07-IoTCliApp/dist/